*.json
/blob_storage/
/Cache/
/Code Cache/
/Cookies
/Cookies-journal
/data/
/Dictionaries/
/GPUCache/
/Local Storage/
/Network Persistent State
/Preferences
/Session Storage/
.idea/
/CreateYourOwnBadge.theme.css
/Level4supermegaultra.theme.css
/README.md
/Local state