/* ~~~~		 			CSS						~~~~ */

/* Replace the discord watermark with 'chiaki gaming' */
.wordmarkWindows-1v0lYD::before {
    content: "Chiaki Gaming";
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    position: absolute;
    color: pink;
}

.wordmarkWindows-1v0lYD {
    color: transparent;
}

/* Removes the invite users button so you don't accidently click it >:( */
#user-context-invite-to-server {
    display: none;
}

/* Places the custom badge in the right place */
#app-mount .wrapper-2a6GCs h2 .username-1A8OIy::after,
#app-mount .listRow-hutiT_ .avatar-3W3CeO + div .username-2b1r56::after,
#app-mount .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after {
    padding: 0 10px 0 10px;
    margin-left: 2px;
}

#app-mount .channel-2QD9_O .overflow-WK9Ogt::after,
#app-mount .member-3-YXUe .roleColor-rz2vM0::after {
    padding: 0 9px 0 9px;
    margin-left: 4px;
}

#app-mount .wrapper-3t9DeA + h1::after {
    padding: 0 15px 0 15px;
    margin-right: 3px;
    margin-left: 1px;
}

#app-mount .listRow-hutiT_ .wrapper-3t9DeA + div .username-2b1r56::after {
    padding: 0 8px 0 8px;
    margin-right: 4px;
}

/*Transparent patch*/
.theme-dark,
.inspector-S2gM3e,
.inspector-3LQtX9,
.children-rWhLdy,
.background-1QDuV2,
.fieldList-21DyL8,
.children-3rEycc,
.iconVisibility-sTNpHs,
.container-2fRDfG {
    background-color: transparent;

}

/* Puts in this gif when replying to someone */
.container-2fRDfG {
    position: fixed;
    top: var(--spintop);
    left: var(--spinleft);
    width: 340px;
    padding-top: 400px;
    background: url("https://media.discordapp.net/attachments/339880946826346498/782460396099469323/chihiro_spin.gif");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

/* Replaces the font so that it becomes easier to see */
.container-2fRDfG > div > .colorHeaderSecondary-3Sp3Ft,
.container-2fRDfG > .actions-NlfMQc {
    position: relative;
    top: 15px;
    color: rgb(var(--spintextcolor));
    font-weight: bold;
}

.container-2fRDfG > .actions-NlfMQc {
    top: 16px;
    background: black;
    height: 15px;
    width: 90px;
}

/* Makes the reply bar black */
.jumpToPresentBar-G1R9s6,
.newMessagesBar-265mhP {
    background-color: black;
}

/* Puts this image inside of the message bar */
.textArea-12jD-V,
.slateTextArea-1Mkdgw .hljs-comment,
.slateTextArea-1Mkdgw .hljs-quote {
    background-image: url("https://cdn.discordapp.com/attachments/778713288099889154/781897544266547240/messagebar.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: right 0;
    left: 0;
}

/* Makes it so it doesn't overlap the message bar with the gif from the members list while DMing */
.textArea-12jD-V > .placeholder-37qJjk > .markup-2BOw-j {
    width: 470px;
}

.form-2fGMdU {
    position: relative;
    bottom: 0;
    max-width: 800px;
}

/* Makes extra space for the Gif so that it doesn't overlap onto users */
.membersWrap-2h-GB4 {
    padding-bottom: 69px;
}

/* Places this gif at the bottom right corner */
.content-98HsJk {
    background-image: url("https://cdn.discordapp.com/attachments/778713288099889154/781877270251044915/chihiro_chiaki_sleep.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

/* Places this gif on the screen */
.content-yTz4x3 {
    background-image: var(--mining);
    background-repeat: no-repeat;
    background-size: relative;
    background-position: var(--miningposition);
}

/* Places this gif at the bottom left corner of the channel list */
.container-3w7J-x {
    background-image: url(https://cdn.discordapp.com/attachments/778713288099889154/782450525500604426/totodile.gif);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 60px;
}

/* adds this picture to the pop-out */
.headerPlaying-j0WQBV > .flex-1xMQg5 {
    background: url("https://cdn.discordapp.com/attachments/778713288099889154/782476330771677194/pop_out.png") center/102%;
    background-repeat: no-repeat;
    position: relative;
    height: 212px;
}

/* Same as the one above */
.headerNormal-T_seeN > .flex-1xMQg5 {
    background: url("https://cdn.discordapp.com/attachments/778713288099889154/782476330771677194/pop_out.png") center/102%;
    background-repeat: no-repeat;
    position: relative;
    height: 212px;
}

.infoScroller-3EYYns > .userInfoSection-2acyCx:first-child {
    padding: 0;
}

/* Adds this image when in the extra details screen of a user */
.inner-1ilYF7 > .flex-1xMQg5 {
    background: url("https://cdn.discordapp.com/attachments/778713288099889154/782596918885875732/Untitled-1.png") !important;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;
    padding-bottom: 65px;
}

.activity-1ythUs {
    position: absolute;
    left: -3.3%;
}

.activity-1ythUs > .size12-3cLvbJ,
.activity-1ythUs > .headerTextNormal-2mGWX3 {
    display: none;

}

.activity-1ythUs > .size16-1P40sf > .customStatus-154i-H {
    position: fixed;
    top: 210px;
    right: 500px;

}

.activityProfile-2bJRaP > .bodyNormal-2D39hT,
.activityProfile-2bJRaP > .bodyAlignCenter-1KzvJk {
    position: fixed;
    top: 63px;
    background-color: rgb(var(--vaccentcolor));
    height: auto;
    min-height: 60px;
    width: 600px;
    border-radius: 25px 25px 0 0 ;
}

/* ~~~~		 		Badges next to name							~~~~ */


/* Gil badge */
[data-user-id="314467927799627776"] .username-1A8OIy::after,
[data-user-id="314467927799627776"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="314467927799627776"] .roleColor-rz2vM0::after,
[data-user-id="314467927799627776"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/781818967173627944/chihiro_messagebar.png) center/110% no-repeat;

}

/* Mystic badge*/
[data-user-id="279216251597750272"] .username-1A8OIy::after,
[data-user-id="279216251597750272"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="279216251597750272"] .roleColor-rz2vM0::after,
[data-user-id="279216251597750272"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://i.redd.it/y4fpd8f8zr321.gif) center/150% no-repeat;
}


/* Kristal badge */
[data-user-id="226482523876622336"] .username-1A8OIy::after,
[data-user-id="226482523876622336"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="226482523876622336"] .roleColor-rz2vM0::after,
[data-user-id="226482523876622336"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782231830019178506/360.png) center/90% no-repeat;
}

/* Saitsu badge */
[data-user-id="209823773833166850"] .username-1A8OIy::aftere,
[data-user-id="209823773833166850"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="209823773833166850"] .roleColor-rz2vM0::after,
[data-user-id="209823773833166850"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782246120516354068/Danganronpa_V3_Bonus_Mode_Nagito_Komaeda_Pixel_Icon_1.png) center/130% no-repeat;
}

/* Ultima badge */
[data-user-id="246777959212515328"] .username-1A8OIy::after,
[data-user-id="246777959212515328"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="246777959212515328"] .roleColor-rz2vM0::after,
[data-user-id="246777959212515328"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782246132843282442/Gonta_Gokuhara_Bonus_Mode_Pixel_Icon_1.png) center/150% no-repeat;
}

/* Raiser badge */
[data-user-id="213462239812911105"] .username-1A8OIy::after,
[data-user-id="213462239812911105"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="213462239812911105"] .roleColor-rz2vM0::after,
[data-user-id="213462239812911105"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782257998697070622/Roystock.png) center/90% no-repeat;
}

/* Jet badge */
[data-user-id="520040843785011225"] .username-1A8OIy::after,
[data-user-id="520040843785011225"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="520040843785011225"] .roleColor-rz2vM0::after,
[data-user-id="520040843785011225"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782269045088714772/Byakuya_Togami_Bonus_Mode_Pixel_Icon_1.png) center/130% no-repeat;
}

/* Lean badge */
[data-user-id="322149483154636810"] .username-1A8OIy::after,
[data-user-id="322149483154636810"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="322149483154636810"] .roleColor-rz2vM0::after,
[data-user-id="322149483154636810"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782271342392770600/Kaede_Akamatsu_Bonus_Mode_Pixel_Icon_1.png) center/90% no-repeat;
}

/* Five badge */
[data-user-id="618538419932364831"] .username-1A8OIy::after,
[data-user-id="618538419932364831"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="618538419932364831"] .roleColor-rz2vM0::after,
[data-user-id="618538419932364831"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/334077784953716736/782443207043973130/crazy_diamond.png) center/110% no-repeat;
}

/* pasin badge */
[data-user-id="498326509849673761"] .username-1A8OIy::after,
[data-user-id="498326509849673761"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="498326509849673761"] .roleColor-rz2vM0::after,
[data-user-id="498326509849673761"] .overflow-WK9Ogt::after {
    content: " ";
    background: url("https://cdn.discordapp.com/attachments/334077784953716736/773880375238983720/iu.png") center/110% no-repeat;
}

/* MVW badge */
[data-user-id="162909925234835456"] .username-1A8OIy::after,
[data-user-id="162909925234835456"] .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56::after,
[data-user-id="162909925234835456"] .roleColor-rz2vM0::after,
[data-user-id="162909925234835456"] .overflow-WK9Ogt::after {
    content: " ";
    background: url(https://cdn.discordapp.com/icons/280498410363027456/984c42d03d8403833f7e631eed4f2e64.png?size=128) center/100% no-repeat;
}
