/**
 * @name Extra stuff
 * @description Some extra small stuff
 * @author Level 4
 * @version 2.0.4
 * @authorId 278543574059057154
 * @invite 
 * @donate 
 * @patreon
 * @website 
 * @source
 */


/* ~~~~		 			CSS						~~~~ */

:root {
    --background-primary: transparent !important;
    --background-tertiary: transparent !important;
    --badge-padding: 10px 10px 5px 10px;
    --tempRight: 55px;
    --tempTop: 21px;
}

/*Transparent patch*/
.theme-dark,
.inspector__80c84,
.inspector__7b643,
.children_aba8cb,
.background__4e802,
.fieldList__4e6dd,
.children__563f2,
.iconVisibility__2ecfa,
.scroller__89969,
.accountProfileCard__744d8,
.uploadArea_c7493d,
.threadSidebar-1o3BTy,
.replyBar_ed6afc,
.attachedBars_c1606a,
.clipContainer_ab9cf6,
[class*="container"],
.role_d81130,
.upload_c98ecb,
.members__573eb,
body, 
.appMount_c99875,
.sidebar_e031be
{
    background-color: transparent !important;
}

/* Replace the discord watermark with 'chiaki gaming' */
.wordmarkWindows_ffbc5e.wordmark__5b8c9:before,
[class*="word"]:before {
    content: "Chiaki Gaming";
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    position: absolute;
    color: pink;
}

[viewBox="0 0 24 24"] {
    color: transparent;
}

/* Removes the invite users button so you don't accidently click it >:( */
#user-context-invite-to-server,
.timestamp_c79dd2.timestampInline__430cf.censoredStamp_fb2cYb
{
    display: none;
}

/* Places the custom badge in the right place */
#app-mount .wrapper_a62503 h3 .username__0b0e7::after,
#app-mount .listRow-hutiT_ .avatar__8986c + div .username__7d629::after,
#app-mount .nameTag__1d385:not(.listName-3w10cx) .username__7d629::after,
.usernameFont__4c086::after {
    padding: 0 10px 0 10px !important;
    margin-left: 2px !important;
}

#app-mount .channel__0aef5 .overflow__993fa::after,
#app-mount .member_aa4760 .roleColor-nA7BqX::after {
    padding: 0 9px 0 9px;
    margin-left: 4px;
}

#app-mount .wrapper-1VLyxH + h1::after {
    padding: 0 15px 0 15px;
    margin-right: 3px;
    margin-left: 1px;
}

#app-mount .listRow-hutiT_ .wrapper-1VLyxH + div .username__7d629::after {
    padding: 0 8px 0 8px;
    margin-right: 4px;
}

.compact_eda3c8 .headerText_bd68ec,
.cozy_f5c119 .headerText_bd68ec,
.roleDot_f86e49 {
    margin: 0;
}

/* Puts this image inside of the message bar */
.textArea_a86690,
.slateTextArea_b19976 .hljs-comment,
.slateTextArea_b19976 .hljs-quote {
    background-image: url(https://i.imgur.com/7aMfqYf.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: right 0;
    left: 0;
}

/* Makes it so it doesn't overlap the message bar with the gif from the members list while DMing */
.textArea_a86690 > div >.placeholder_dec8c7 > .markup_a7e664 {
    max-width: 470px !important;
}

.form_d8a4a1 {
    position: relative;
    bottom: 0;
    max-width: calc(100vw - 568px);
}

/* Makes extra space for the Gif so that it doesn't overlap onto users */
.membersWrap__5ca6b {
    height: calc(100vh - 135px);
}

/* Places this gif at the bottom right corner */
.content__76dcf {
    background-image: url("https://i.imgur.com/gSZUQ0F.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Places this gif on the screen */
.content__01e65 {
    background-image: url("https://i.imgur.com/QFtiY6D.gif"), url("https://i.imgur.com/6lm7i0t.png");
    background-repeat: no-repeat;
    background-position: calc(100vw - 660px) calc(100vh - 220px), calc(100vw - 586px) -25px;
}

.activity-fViXj7 {
    padding-bottom: 16px;
}

.betaBadge-1Ve-yb,
[aria-label="Open sticker picker"] {
    display: none;
}

.roleIcon__92480.roleIcon_b6fe3d {
    display: none;
}

/* makes stickers smaller */
.assetWrapper__671e3 {
    height: 48px !important;
    width: 48px !important;
}

.emojiItemDisabled__843ea > * {
    filter: grayscale(0%);
}

.censoredStamp-fb2cYb {
    display: none !important;
}

[aria-label="Servers sidebar"] [dir="ltr"]::-webkit-scrollbar {
    display: none;
}

/* Channel tabs plugin CSS */
#channelTabs-container {
    position: absolute;
    max-width: 50%;
    right: 0;
}

.channelTabs-tabContainer {
    float: right;
}

.channelTabs-tabNav,
a[href="https://support.discord.com"] {
    display: none !important;
}

.channelTabs-tabContainer {
    position: relative;
    top: 8px;
}

.channelTabs-tab.channelTabs-selected {
    background: hsl(0, 14%, 15%) !important;
}

.title_d4ba1a.container__26baa.themed_b152d4 .children_cde9af {
    display: none;
}

.search__07df0,
.search__07df0 div {
    max-width: 144px !important;
}

.contents_d3ae0d > .avatarDecoration__8a0c2 {
    display: none;
}

.group-spacing-16 .groupStart__7b93c {
    margin-top: 0.6rem;
}

/* .listItem__48528:has([data-dnd-name*="Avalon"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: 0;
}

.listItem__48528:has([data-dnd-name*="The Stray"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: calc(var(--tempRight) * 1) !important;
}

.listItem__48528:has([data-dnd-name*="Level"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: calc(var(--tempRight) * 2) !important;
}

.listItem__48528:has([data-dnd-name*="Paula"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: calc(var(--tempRight) * 3) !important;
}

.listItem__48528:has([data-dnd-name*="Outer"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: calc(var(--tempRight) * 4) !important;
}

.listItem__48528:has([data-dnd-name*="Lynette"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: calc(var(--tempRight) * 5) !important;
}

.listItem__48528:has([data-dnd-name*="Arle"]) {
    z-index: 400;
    position: fixed;
    top: var(--tempTop);
    right: calc(var(--tempRight) * 6) !important;
} */

/*<editor-fold desc="badges">*/
/* ~~~~		 		Badges next to name							~~~~ */

/* Gil badge */
[src*="314467927799627776"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="314467927799627776"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="314467927799627776"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/vacNLg4.png) center/110% no-repeat;
}

/* Mystic badge*/
[src*="279216251597750272"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="279216251597750272"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="279216251597750272"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.redd.it/y4fpd8f8zr321.gif) center/150% no-repeat;
}


/* Paula badge */
[src*="YQaLRfj"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="YQaLRfj"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="YQaLRfj"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/lrBRhGn.png) center/100% no-repeat;
    padding: var(--badge-padding) !important;
}

/* Ginger badge */
[src*="mH9Avvg"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="mH9Avvg"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="mH9Avvg"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/hBKMFj7.png) center/125% no-repeat;
}

/* Robert badge */
[src*="jZjM3fu"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="jZjM3fu"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="jZjM3fu"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/QHW4GhK.png) center/120% no-repeat;
}

/* JH badge */
[src*="zjPHADF"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="zjPHADF"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="zjPHADF"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/gDKC0rv.png) center/100% no-repeat;
}

/* karelia badge */
[src*="aWnEUiN"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="aWnEUiN"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="aWnEUiN"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/KJOYimM.png) center/100% no-repeat;
    padding: 0 16px 0 10px !important;
}

/* Spear badge */
[src*="IvwgudB"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="IvwgudB"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="IvwgudB"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/vK4KTuo.png) center/100% no-repeat;
    padding: var(--badge-padding) !important;
}

/* Fasa badge */
[src*="ETEVhLn"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="ETEVhLn"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="ETEVhLn"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/9rWHrFG.png) center/100% no-repeat;
    padding: 10px 20px 5px 10px !important;
}

/* Ezui badge */
[src*="JCedECN"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="JCedECN"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="JCedECN"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/9w5EafJ.png) center/100% no-repeat;
}

/* Ogo badge */
[src*="21Khn0m"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="21Khn0m"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="21Khn0m"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/oII3Kf4.png) center/70% no-repeat;
}

/* Link badge */
[src*="179557903034744832"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="179557903034744832"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="179557903034744832"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/8aOX66A.png) center/100% no-repeat;
    padding: 0 20px 0 10px !important;
}

/* harinrin badge */
[src*="WVaexyM"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="WVaexyM"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="WVaexyM"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/tcE2vQA.png) center/100% no-repeat;
}

/* joe badge */
[src*="302411675829534721"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="302411675829534721"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="302411675829534721"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/tpnoUsn.png) center/110% no-repeat;
    padding: 0 20px 0 10px !important;
}

/* Jaina badge */
[src*="1087038169691738263"] + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[src*="1087038169691738263"] + img + .header__6a14d > .headerText_bd68ec > span:first-child::after,
[style*="1087038169691738263"] + .usernameFont__4c086::after {
    content: " ";
    background: url(https://i.imgur.com/Fbtyrj7.png) center/90% no-repeat;
    padding: var(--badge-padding) !important;
}

.repliedMessage__636d2 > .username__0b0e7::after {
    padding: 0 !important;
    background: none;
    content: "";
}

.collapsedMember,
.collapsedMember + div {
    display: none;
}

