/**
 * @name Extra stuff
 * @description Some extra small stuff
 * @author Level 4
 * @version 2.0.4
 * @authorId 278543574059057154
 * @invite 
 * @donate 
 * @patreon
 * @website 
 * @source
 */

/*
For testing
https://cdn.discordapp.com/attachments/778713288099889154/781818967173627944/chihiro_messagebar.png

*/

/* ~~~~		 			CSS						~~~~ */

:root {
    --background-primary: transparent !important;
    --badge-padding: 10px 10px 5px 10px;
}

/*Transparent patch*/
.theme-dark, .inspector-DFKXwB, .inspector-2A2Chb, .children-1xdcWE, .background-3d_SjE, .fieldList-in8WkP, .children-1MGS9G, .iconVisibility-vptxma, .scroller-WSmht3, .accountProfileCard-lbN7n-, .uploadArea-2Nu_Vc, .threadSidebar-1o3BTy, .replyBar-1oi75v, .attachedBars-2BCP3l, .clipContainer-31nYlH, [class*="container"], .role-2TIOKu, .upload-vLbqu- {
    background-color: transparent !important;
}

/* Replace the discord watermark with 'chiaki gaming' */
.wordmarkWindows-2dq6rw::before {
    content: "Chiaki Gaming";
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    position: absolute;
    color: pink;
}

.wordmarkWindows-2dq6rw {
    color: transparent;
}

/* Removes the invite users button so you don't accidently click it >:( */
#user-context-invite-to-server {
    display: none;
}

/* Places the custom badge in the right place */
#app-mount .wrapper-30-Nkg h3 .username-h_Y3Us::after,
#app-mount .listRow-hutiT_ .avatar-2MSPKk + div .username-3JLfHz::after,
#app-mount .nameTag-H6kSJ0:not(.listName-3w10cx) .username-3JLfHz::after,
.usernameFont-2oJxoI::after {
    padding: 0 10px 0 10px;
    margin-left: 2px;
}

#app-mount .channel-1Shao0 .overflow-1wOqNV::after,
#app-mount .member-2gU6Ar .roleColor-nA7BqX::after {
    padding: 0 9px 0 9px;
    margin-left: 4px;
}

#app-mount .wrapper-1VLyxH + h1::after {
    padding: 0 15px 0 15px;
    margin-right: 3px;
    margin-left: 1px;
}

#app-mount .listRow-hutiT_ .wrapper-1VLyxH + div .username-3JLfHz::after {
    padding: 0 8px 0 8px;
    margin-right: 4px;
}

.compact-2Nkcau .headerText-2z4IhQ,
.cozy-VmLDNB .headerText-2z4IhQ,
.roleDot-PzIfeF {
    margin: 0;
}

/* Puts this image inside of the message bar */
.textArea-2CLwUE,
.slateTextArea-27tjG0 .hljs-comment,
.slateTextArea-27tjG0 .hljs-quote {
    background-image: url("https://cdn.discordapp.com/attachments/778713288099889154/781897544266547240/messagebar.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: right 0;
    left: 0;
}

/* Makes it so it doesn't overlap the message bar with the gif from the members list while DMing */
.textArea-2CLwUE > .placeholder-1_mJY1 > .markup-eYLPri {
    max-width: 470px;
}

.form-3gdLxP {
    position: relative;
    bottom: 0;
    max-width: calc(100vw - 568px);
}

/* Makes extra space for the Gif so that it doesn't overlap onto users */
.membersWrap-3NUR2t {
    height: calc(100vh - 135px);
}

/* Places this gif at the bottom right corner */
.content-1SgpWY {
    background-image: url("https://cdn.discordapp.com/attachments/778713288099889154/781877270251044915/chihiro_chiaki_sleep.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Places this gif on the screen */
.content-1jQy2l {
    background-image: url("https://cdn.discordapp.com/attachments/778713288099889154/795956650916839470/Nagito_mining.gif"), url("https://cdn.discordapp.com/attachments/334077784953716736/808725225654321202/mukuroDR3.png");
    background-repeat: no-repeat;
    background-position: calc(100vw - 660px) calc(100vh - 220px), calc(100vw - 586px) -25px;
}

.activity-fViXj7 {
    padding-bottom: 16px;
}

.betaBadge-1Ve-yb,
[aria-label="Open sticker picker"] {
    display: none;
}

.roleIcon-3-WL_I.roleIcon-zWuatl {
    display: none;
}

/* shows my favorite danganronpa character when you hover over the member list */
.membersWrap-3NUR2t {
    transition: padding-left 0.5s;
}

.membersWrap-3NUR2t:hover {
    background-image: url(https://cdn.discordapp.com/attachments/778713288099889154/822112614002720768/ChPX.png), url(https://cdn.discordapp.com/attachments/778713288099889154/822113565204414504/ChiPX.png), url(https://cdn.discordapp.com/attachments/778713288099889154/822114341540986930/HiPX.png),
    url(https://cdn.discordapp.com/attachments/778713288099889154/822115526973063208/KaPX.png),
    url(https://cdn.discordapp.com/attachments/778713288099889154/822115533478035456/ShPX.png),
    url(https://cdn.discordapp.com/attachments/778713288099889154/822117193265315890/HjPX.png),
    url(https://cdn.discordapp.com/attachments/778713288099889154/822117218795782175/MaPX.png),
    url(https://cdn.discordapp.com/attachments/778713288099889154/822118516089815050/KoPX.png),
    url(https://cdn.discordapp.com/attachments/778713288099889154/822119250474958898/KaiPX.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: -36px 60px, -36px 120px, -36px 182px, -36px 242px, -36px 292px, -36px 352px, -36px 402px, -36px 462px, -36px 512px;
    padding-left: 50px;
}

/* makes stickers smaller */
.assetWrapper-2hzITV {
    height: 48px !important;
    width: 48px !important;
}

.emojiItemDisabled-3VVnwp > * {
    filter: grayscale(0%);
}

.censoredStamp-fb2cYb {
    display: none !important;
}

[aria-label="Servers sidebar"] [dir="ltr"]::-webkit-scrollbar {
    display: none;
}

/* puts me on top */
.members-3WRCEx.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > div {
    display: flex;
    flex-direction: column;
}

.membersGroup-2eiWxl {
    box-sizing: content-box;
    max-height: 16px;
}

.ontop {
    order: -1;
    padding-top: 41px;
}

.ontop::before {
    position: absolute;
    top: 0;
    display: block;
    content: "Guilliano — 1";
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 16px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: nowrap;
    color: rgb(210, 210, 210);
    padding: 24px 0 0 6px;
}

/* Channel tabs plugin CSS */
#channelTabs-container {
    position: absolute;
    max-width: 50%;
    right: 0;
}

.channelTabs-tabContainer {
    float: right;
}

.channelTabs-tabNav,
a[href="https://support.discord.com"] {
    display: none !important;
}

.channelTabs-tabContainer {
    position: relative;
    top: 8px;
}

.channelTabs-tab.channelTabs-selected {
    background: hsl(0, 14%, 15%) !important;
}

.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB {
    display: none;
}

.search-39IXmY,
.search-39IXmY div {
    max-width: 144px !important;
}

.contents-2MsGLg > .avatarDecoration-34OC0G {
    display: none;
}

#popout_2797, #popout_2795 {
    right: 449px !important;
}

/*<editor-fold desc="badges">*/
/* ~~~~		 		Badges next to name							~~~~ */

/* Gil badge */
[src*="314467927799627776"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="314467927799627776"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="314467927799627776"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/781818967173627944/chihiro_messagebar.png) center/110% no-repeat;
}

/* Mystic badge*/
[src*="279216251597750272"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="279216251597750272"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="279216251597750272"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://i.redd.it/y4fpd8f8zr321.gif) center/150% no-repeat;
}

/* Jet badge */
[src*="520040843785011225"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="520040843785011225"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="520040843785011225"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782269045088714772/Byakuya_Togami_Bonus_Mode_Pixel_Icon_1.png) center/130% no-repeat;
}

/* Paula badge */
[src*="1087037047455363203"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087037047455363203"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087037047455363203"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842718108861857812/Soniapx.png) center/100% no-repeat;
    padding: var(--badge-padding) !important;
}

/* Ginger badge */
[src*="1087037107505201152"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087037107505201152"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087037107505201152"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/964172903186825237/miuBadge.png?size=4096) center/125% no-repeat;
}

/* Robert badge */
[src*="1087038588472016997"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087038588472016997"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087038588472016997"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842718084048355328/Ranpx.png) center/120% no-repeat;
}

/* JH badge */
[src*="1087039408710103122"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087039408710103122"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087039408710103122"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842718080995688498/Mahipx.png) center/100% no-repeat;
}

/* karelia badge */
[src*="1087037229173587988"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087037229173587988"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087037229173587988"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842725214722195466/Seikopx.png) center/100% no-repeat;
    padding: 0 16px 0 10px !important;
}

/* Spear badge */
[src*="1087038924595142847"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087038924595142847"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087038924595142847"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842725225215819776/Chisapx.png) center/100% no-repeat;
    padding: var(--badge-padding) !important;
}

/* Trap badge */
[src*="1087038368610783242"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087038368610783242"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087038368610783242"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842725206194651154/Hyopx.png) center/100% no-repeat;
    padding: 10px 20px 5px 10px !important;
}

/* Ezui badge */
[src*="1087039164479971378"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087039164479971378"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087039164479971378"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842725211115225088/Saypx.png) center/100% no-repeat;
}

/* Ogo badge */
[src*="1087037174190461048"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087037174190461048"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087037174190461048"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842725218288271380/Aoipx.png) center/70% no-repeat;
}

/* Link badge */
[src*="179557903034744832"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="179557903034744832"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="179557903034744832"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/842733901570244608/ChiPX.png) center/100% no-repeat;
    padding: 0 20px 0 10px !important;
}

/* harinrin badge */
[src*="1087040435375063141"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087040435375063141"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087040435375063141"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/845056172159533086/IshiPX.png) center/100% no-repeat;
}

/* joe badge */
[src*="302411675829534721"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="302411675829534721"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="302411675829534721"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/889478462526619688/CelPx.png) center/110% no-repeat;
    padding: 0 20px 0 10px !important;
}

/* Jaina badge */
[src*="1087038169691738263"] + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[src*="1087038169691738263"] + img + .header-2jRmjb > .headerText-2z4IhQ > span:first-child::after,
[style*="1087038169691738263"] + .usernameFont-2oJxoI::after {
    content: " ";
    background: url(https://cdn.discordapp.com/attachments/778713288099889154/782271342392770600/Kaede_Akamatsu_Bonus_Mode_Pixel_Icon_1.png) center/90% no-repeat;
    padding: var(--badge-padding) !important;
}

.repliedMessage-3Z6XBG > .username-h_Y3Us::after {
    padding: 0 !important;
    background: none;
    content: "";

}

/*
[style*="e"] + .usernameFont-2oJxoI::afte  {
 content: " ";
    background: url() center/100% no-repeat;
}
*/
/*</editor-fold>*/
