/**
 * @name level 4's Emote Pack
 * @description replaces emojis to something i like
 * @author Level4
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite 
 * @donate 
 * @patreon
 * @website 
 * @source
 */


/*Emoji picker list*/
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/059e1038a6af4a46d3664e70f5259c52.png")'] {
	background-image: url("https://cdn.discordapp.com/attachments/778713288099889154/852879927614242836/emoji.png") !important;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/                                                                                                                                /
/                                                        default Emotes                                                          /
/                                                                                                                                /
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* heart */
[aria-label="❤️"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/570848364162187265/771474295418257419/oytjnivv53w51.png") !important;
}

/* pensive */
[aria-label="😔"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/772415302302040114/chiaki_pensive.png") !important;
}

/* rage */
[aria-label="😡"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/772416632135745536/Chiaki_rage.png") !important;
}

/* slight_smile */
[aria-label="🙂"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/772424369157701652/Danganronpa_V3_Nagito_Komaeda_Bonus_Mode_Sprites_15.png") !important;
}

/* thinking */
[aria-label="🤔"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/772426630043271198/Danganronpa_V3_Hajime_Hinata_Bonus_Mode_Sprites_15.png") !important;
}

/* smile with tear */
[aria-label="🥲"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/774385857230667797/Hajime_Hinata_Halfbody_Sprite_11.png") !important;
}

/* upside_down */
[aria-label="🙃"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/775284550154584074/Danganronpa_V3_Kokichi_Oma_Halfbody_Sprite_21.png") !important;
}

/* disappointed */
[aria-label="😞"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/776477141776334869/Danganronpa_V3_Makoto_Naegi_Bonus_Mode_15.png") !important;
}

[aria-label="😈"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/778628982303883264/Danganronpa_V3_Tsumugi_Shirogane_Halfbody_Sprite_Junko_Enoshima_19.png") !important;
}

/* moyai */
[aria-label="🗿"] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Apple/travel/moyai.png") !important;
}

/* flushed */
[aria-label="😳"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/781662978063728650/ChihiroFlushed.png") !important;

}

/* sunglasses */
[aria-label="😎"] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/778713288099889154/859759318529343539/HajimeSunglasses.png") !important;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/                                                                                                                                /
/                                                        Non-default Emotes                                                      /
/                                                                                                                                /
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* hityeah */
.diversityEmojiItemImage-2gPNoS[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.diversityEmojiItemImage-2gPNoS[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.emoji-AAbs8r[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.emoji-AAbs8r[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.icon-3ZzoN7[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.icon-3ZzoN7[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.image-3v3Wjg[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.image-3v3Wjg[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.icon-QGKz8T[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.icon-QGKz8T[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.emoji-236_Ij[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.emoji-236_Ij[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.emoji[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.emoji[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.imageLoading-image-1CmAz0[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?+v=1")'],
.imageLoading-image-1CmAz0[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.emojiItem-14v6tW[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.emojiItem-14v6tW[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.emojiItemLarge-sa0X3P[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.emojiItemLarge-sa0X3P[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.emojiItemSelected-1aLkfV[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.emojiItemSelected-1aLkfV[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'],
.image-1CmAz0[style*='background-image: url("https://cdn.discordapp.com/emojis/603713279864471564.png?v=1")'],
.image-1CmAz0[src='https://cdn.discordapp.com/emojis/603713279864471564.png?v=1'] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/334077784953716736/776037525139226624/Danganronpa_V3_Chiaki_Nanami_Bonus_Mode_Sprites_05.png") !important;
}

/*huehue*/
.diversityEmojiItemImage-2gPNoS[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.diversityEmojiItemImage-2gPNoS[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.emoji-AAbs8r[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.emoji-AAbs8r[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.icon-3ZzoN7[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.icon-3ZzoN7[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.image-3v3Wjg[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.image-3v3Wjg[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.icon-QGKz8T[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.icon-QGKz8T[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.emoji-236_Ij[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.emoji-236_Ij[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.emoji[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.emoji[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.imageLoading-image-1CmAz0[style*='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.imageLoading-image-1CmAz0[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.emojiItem-14v6tW[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.emojiItem-14v6tW[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.emojiItemLarge-sa0X3P[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.emojiItemLarge-sa0X3P[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.emojiItemSelected-1aLkfV[style*='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.emojiItemSelected-1aLkfV[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'],
.image-1CmAz0[style*='background-image: url("https://cdn.discordapp.com/emojis/642159652989042728.png?v=1")'],
.image-1CmAz0[src='https://cdn.discordapp.com/emojis/642159652989042728.png?v=1'] {
	background: transparent !important;
	content: url("https://cdn.discordapp.com/attachments/772409023978405888/781641829769674762/huehuenagito.png") !important;
}

/* template
  
.diversityEmojiItemImage-2gPNoS[src=''],
.diversityEmojiItemImage-2gPNoS[style*='background-image: url("")'],
.emoji-AAbs8r[src=''],
.emoji-AAbs8r[style*='background-image: url("")'],
.icon-3ZzoN7[src=''],
.icon-3ZzoN7[style*='background-image: url("")'],
.image-3v3Wjg[src=''],
.image-3v3Wjg[style*='background-image: url("")'],
.icon-QGKz8T[src=''],
.icon-QGKz8T[style*='background-image: url("")'],
.emoji-236_Ij[src=''],
.emoji-236_Ij[style*='background-image: url("")'],
.emoji[src=''],
.emoji[style*='background-image: url("")'] {
    background: transparent !important;
    content: url("") !important;
}

Emoji picker icon ***ONLY FOR NON DEFAULT EMOTES***
.imageLoading-image-1CmAz0[style*='")'],
.imageLoading-image-1CmAz0[src=''],
.emojiItem-14v6tW[style*='background-image: url("")'],
.emojiItem-14v6tW[src=''],
.emojiItemLarge-sa0X3P[style*='background-image: url("")'],
.emojiItemLarge-sa0X3P[src=''],
.emojiItemSelected-1aLkfV[style*='")'],
.emojiItemSelected-1aLkfV[src=''],
.image-1CmAz0[style*='background-image: url("")'],
.image-1CmAz0[src=''] {
    background: transparent !important;
    content: url("") !important;
*/
