/**
 * @name level 4's Ultimate theme pack
 * @description puts all the themes i use in one neat package!
 * @author Level4
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite 
 * @donate 
 * @patreon
 * @website 
 * @source
 */

/*LINKCOLOR CHANGE + CHANNEL BAR FIX*/

:root {
    --dplus-icon-server-sidebar: 33px;
    --dplus-icon-server-list: 24px;
    --dplus-radius-server: 100%;
    --daccentcolor: 8, 0, 255;
    --vaccentcolor: var(--accentcolor, var(--daccentcolor));
    --dlinkcolor: 0, 176, 244;
    --vlinkcolor: var(--linkcolor, var(--dlinkcolor));

    --dfontwhite1: 255, 255, 255;

    --vaccentcolor-hover: rgb(var(--vaccentcolor)) linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    --vaccentcolor-active: rgb(var(--vaccentcolor)) linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));

    --bd-blue: rgb(var(--vaccentcolor));
    --bd-blue-hover: var(--vaccentcolor-hover);
    --bd-blue-active: var(--vaccentcolor-active);
    --blurple: rgb(var(--vaccentcolor));
    --dtransparencyalpha: 0, 0, 0;
    --dgeneraltransparency: 0.15;
    --dmessagetransparency: 0.5;
    --dguildchanneltransparency: 0.15;
    --dmemberlisttransparency: 0.0;
    --daccentcolor: 8, 0, 255;

    --dfont: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    --dtextshadow: transparent;

    --dbackground: url(https://i.imgur.com/jbWiuOH.png);
    --dbackgroundsize: cover;
    --dblur: 0px;
    --dbackdrop: rgba(0, 0, 0, 0.85);

    --vtransparencycolor: var(--transparencycolor, var(--dtransparencycolor));
    --vtransparencyalpha: var(--transparencyalpha, var(--dtransparencyalpha));
    --vmessagetransparency: var(--messagetransparency, var(--dmessagetransparency));
    --vusechatbubbles: calc(var(--vmessagetransparency) / (var(--vmessagetransparency) + 0.00000000000000000000001));
    --vguildchanneltransparency: var(--guildchanneltransparency, var(--dguildchanneltransparency));
    --vmemberlisttransparency: var(--memberlisttransparency, var(--dmemberlisttransparency));
    --vaccentcolor: var(--accentcolor, var(--daccentcolor));
    --vlinkcolor: var(--vaccentcolor);

    --vfont: var(--font, var(--dfont));
    --vtextshadow: var(--textshadow, var(--dtextshadow));

    --vbackground: var(--background, var(--dbackground));
    --vbackgroundsize: var(--backgroundsize, var(--dbackgroundsize));
    --vbackgroundblur: var(--backgroundblur, var(--dblur));

    --vpopout: var(--popout, var(--vbackground));
    --vpopoutsize: var(--popoutsize, var(--vbackgroundsize));
    --vpopoutblur: var(--popoutblur, var(--vbackgroundblur));

    --vbackdrop: var(--backdrop, var(--dbackdrop));
    --vbackdropsize: var(--backdropsize, var(--vbackgroundsize));
    --vbackdropblur: var(--backdropblur, var(--vbackgroundblur));

    --fontwhite1: 255, 255, 255;
    --fontwhite2: 210, 210, 210;
    --fontwhite3: 170, 170, 170;
    --fontwhite4: 120, 120, 120;
    --transparencycolor: 0, 0, 0;
    /* default:	0,0,0																								*/
    --transparencyalpha: 0.15;
    /* default: 0.15				(general darkness of the app)													*/
    --messagetransparency: 0.5;
    /* default: 0.5					(additional shadows behind messages, set to 0 to remove boxes)					*/
    --guildchanneltransparency: 0.15;
    /* default: 0.15				(additional darkness for guild/channel list)									*/
    --memberlisttransparency: 0.0;
    /* default: 0.0					(additional darkness for member list)											*/
    --accentcolor: 0, 12, 255;
    /* default: 190,78,180			(blurple: 114,137,218 bd-blue: 58,113,193)										*/

    --font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* font used in most places														*/
    --textshadow: transparent;
    /* default: transparent			(textshadow for text ontop of accentcolor nodes, ONLY accepts a color, no px)	*/
    --background: url(https://i.imgur.com/HWDperB.png);
    /* general background image						*/
    --backgroundsize: cover;
    /* default: cover				(sizefit of general background - values: [cover/contain/auto])					*/
    --backgroundblur: 0px;
    /* default: 0px					(only works when --background is set to an image)								*/

    --popout: var(--background);
    /* default: var(--background)	(change to use another background/color for modals/popouts)						*/
    --popoutsize: var(--backgroundsize);
    /* default: cover				(sizefit of popout background - values: [cover/contain/auto])					*/
    --popoutblur: 0px;
    /* default: 0px					(only works when --popout is set to an image)									*/

    --backdrop: rgba(0, 0, 0, 0.85);
    /* default: rgba(0,0,0,0.85)	(change to use another background/color for backdrops)							*/
    --backdropsize: var(--backgroundsize);
    /* default: cover				(sizefit of backdrop background - values: [cover/contain/auto])					*/
    --backdropblur: 0px;
    /* default: 0px					(only works when --backdrop is set to an image)									*/
}

.searchResultsWrap_c2b47d {
    /* searchpage			container							*/
    background-color: transparent;
}

.searchHeader_b7c924 {
    /* searchpage			header								*/
    background-color: rgba(var(--vtransparencycolor), calc(var(--vguildchanneltransparency) * 0.8));
    border-radius: 0 0 0 8px;
}

#app-mount .tab-2j5AEF.selected-2LAck8 {
    /* searchpage			selected tab						*/
    background-color: rgb(var(--vaccentcolor));
    text-shadow: 1px 1px var(--vtextshadow);
}

.channelName-3w2Y3c {
    /* searchpage			channelname							*/
    background-color: transparent;
}

.searchResult_ddc613 {
    /* searchpage			searchresult						*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
}

.button_ddc613 {
    /* searchpage			jumpbutton							*/
    background-color: rgba(var(--vtransparencycolor), 0.4);
}

.button_ddc613:hover {
    background-color: rgb(var(--vaccentcolor));
    text-shadow: 1px 1px var(--vtextshadow);
}

.pageButton-1GMGeJ:hover {
    background-color: rgba(var(--vtransparencycolor), 0.4);
}

#app-mount .activeButton-LRWFC_,
#app-mount .activeButton-LRWFC_:hover,
.markup_f8f345 {
    color: rgb(var(--fontwhite1)) !important;
    text-shadow: 1px 1px var(--vtextshadow);
}

.wrapper_fea3ef,
.wrapper_fea3ef .scroller_fea3ef,
.folder-1hbNCn,
.expandedFolderBackground-1cujaW {
    background-color: transparent !important
}

/*END*/


/*Metero*/

.item_c4cd66[style="opacity: 1; height: 40px; transform: none;"],
.wrapper_c4cd66 {
    height: calc(var(--dplus-icon-server-sidebar) / 10 * 8) !important;
}

.theme-dark .wrapper_fea3ef {
    width: 48px;
    background-color: transparent;
}

/*CHAT*/
.theme-dark .chat_a7d72e .container_fc4f04 {
    padding: 0 0 0 20px;
    background-color: #191919;
    box-shadow: none;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04 .iconWrapper_fc4f04 {
    display: none;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04 .title_fc4f04 {
    margin-right: 12px;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04 .divider_fc4f04 {
    display: none;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04 .akaBadge__27cd4 {
    padding: 4px 6px;
    margin: 0;
    border-radius: 0;
    font-size: 15px;
    font-weight: 400;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04 .nicknames__12efb {
    color: #FFF;
    font-size: 15px;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04 .topic_bf3bbb {
    margin: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}

.theme-dark .chat_a7d72e .container_fc4f04 .children_fc4f04::after {
    display: none;
}


.theme-dark .chat_a7d72e .messages-3amgkR {
    padding: 0 20px;
}

maybe remove .theme-dark .chat_a7d72e .message_d5deea .timestampCompact-29LLPQ,
.theme-dark .chat_a7d72e .message_d5deea .timestampCozy-1HNQR2 {
    color: #CCC;
}


.theme-dark .chat_a7d72e .message_d5deea .username_f9f2ca {
    font-weight: 400;
}

.theme-dark .chat_a7d72e .message_d5deea .markup_f8f345 {
    color: #FFF;
}


.theme-dark .chat_a7d72e .cozyMessage_d5deea.groupStart_d5deea {
    margin-top: calc(1.0000rem / 3);
    padding-top: calc(1.0625rem / 2);
    border-top: 1px solid #333;
}


.form_a7d72e {
    margin-top: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.form_a7d72e::before {
    content: unset;
}

.form_a7d72e .channelTextArea_a7d72e {
    margin-bottom: 0;
    background-color: transparent;
    border-top: 2px solid #333333;
    border-radius: 0;
}

.form_a7d72e .channelTextArea_a7d72e:focus-within {
    border-top-color: var(--accent);
}

.form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b {
    background-color: transparent;
    border-radius: 0;
}

.form_a7d72e .channelTextArea_a7d72e .attachWrapper_f298d4 {
    border: 0;
}

.form_a7d72e .channelTextArea_a7d72e .attachWrapper_f298d4 button {
    width: 48px;
    height: 46px;
    padding: 0;
}



.form_a7d72e .channelTextArea_a7d72e .attachWrapper_f298d4 button:hover {
    background-color: #333333;
}

.form_a7d72e .channelTextArea_a7d72e .attachWrapper_f298d4 button .contents-18-Yxp {
    display: none;
}

.form_a7d72e .channelTextArea_a7d72e .textArea_d0696b {
    min-height: 46px;
}

.form_a7d72e .channelTextArea_a7d72e .placeholder__443e5 {
    color: #CCC;
}

.form_a7d72e .channelTextArea_a7d72e .placeholder__443e5,
.form_a7d72e .channelTextArea_a7d72e .slateTextArea_e52116 {
    padding-left: 12px;
    padding-right: 12px;
}

.form_a7d72e .channelTextArea_a7d72e .markup_f8f345 {
    color: #FFF;
}

.form_a7d72e .channelTextArea_a7d72e .wrapper_d4fa29 {
    background-color: transparent;
    color: var(--link);
}

.form_a7d72e .channelTextArea_a7d72e .wrapper_d4fa29:hover {
    text-decoration: underline;
}

.form_a7d72e .channelTextArea_a7d72e .buttons_d0696b {
    margin-right: 0;
}

.form_a7d72e .channelTextArea_a7d72e .buttons_d0696b button[aria-label="Send a gift"] {
    display: none;
}

.form_a7d72e .channelTextArea_a7d72e .buttons_d0696b .emojiButton_d91a75 {
    width: 48px;
    height: 46px;
    margin: 0;
    padding: 0;
}

.container-q97qHp {
    color: rgb(210, 210, 210) !important;
}

.form_a7d72e .channelTextArea_a7d72e .buttons_d0696b .emojiButton_d91a75:hover {
    background-color: #333333;
}

.form_a7d72e .channelTextArea_a7d72e .buttons_d0696b .emojiButton_d91a75:hover::before {
    color: #FFF;
}

.form_a7d72e .channelTextArea_a7d72e .buttons_d0696b .emojiButton_d91a75 .contents-18-Yxp {
    display: none;
}

.form_a7d72e .typing_d7ebeb {
    height: 20px;
    right: 20px;
    bottom: 46px;
    background-color: transparent;
    font-size: 11px;
    line-height: 20px;
    justify-content: flex-end;
    pointer-events: none;
}

.form_a7d72e .typing_d7ebeb svg[class*="ellipsis-"] {
    display: none;
}

.form_a7d72e .typing_d7ebeb span[class^="text-"] strong {
    font-weight: normal;
}

.form_a7d72e div[class^="scrollableContainer-"] ~ div[class^="autocomplete-"] {
    background-color: #191919;
    border-bottom: 1px solid #262626;
}



.form_a7d72e div[class^="autocomplete-"] div[class^="contentTitle"] {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
}

.form_a7d72e div[class^="autocomplete-"] div[class^="contentTitle"] strong {
    font-weight: normal;
}

.form_a7d72e div[class^="autocomplete-"] div[class^="contentTitle"] strong::before,
.form_a7d72e div[class^="autocomplete-"] div[class^="contentTitle"] strong::after {
    content: "'";
}

.form_a7d72e div[class^="autocomplete-"] div[class*="selector-"] {
    border-radius: 0;
}

.form_a7d72e div[class^="autocomplete-"] div[class^="selectorSelected"] {
    background-color: var(--accent);
}

.form_a7d72e div[class^="autocomplete-"] polygon {
    fill: #FFF;
}

.form_a7d72e div[class^="autocomplete-"] div[class^="description"] {
    color: #FFF;
}

.privateChannels_f0963d {
    background-color: #191919;
}

.privateChannels_f0963d .searchBar_f0963d {
    display: none;
}

.privateChannels_f0963d .scroller-2FKFPG {
    padding-top: 0 !important;
    overflow-y: auto;
    background-color: transparent;
}

.privateChannels_f0963d header {
    display: none;
}

.privateChannels_f0963d .channel_c91bad {
    max-width: 100%;
    margin: 0;
    color: #FFF;
}

.privateChannels_f0963d .channel_c91bad.container_e9f61e {
    padding: 0;
    border-radius: 0;
}

.privateChannels_f0963d .channel_c91bad[href="/store"] {
    display: none;
}

.privateChannels_f0963d .channel_c91bad .layout_e9f61e {
    height: 48px;
    border-radius: 0;
}

.privateChannels_f0963d .channel_c91bad .name_e9f61e {
    font-size: 15px;
    font-weight: 400;
}

.privateChannels_f0963d .channel_c91bad.selected_e9f61e .layout_e9f61e {
    background-color: #333333;
}


.theme-dark .container_c2739c .peopleColumn_c2739c .sectionHeader-20RGqu {
    background-color: transparent;
    background-image: none;
    border: 0;
}

.theme-dark .container_c2739c .peopleColumn_c2739c .addInputWrapper-1BOZ3d h2 {
    font-size: 24px;
    font-weight: 300;
    text-transform: none;
}

.theme-dark .container_c2739c .peopleColumn_c2739c .addInputWrapper-1BOZ3d .description-1EvxpH {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}



/* Guilds */

[data-list-item-id="guildsnav___home"] {
    color: transparent !important;
    background: url(https://i.imgur.com/pessYfR.gif) center no-repeat;
    background-size: 46px;
    z-index: 2;
    width: 56px;
    height: 56px;
}


/* ~~~~		1.		INLINE							~~~~ */

[style^="color: rgba(255, 115, 250, 1)"],
[style*=" color: rgba(255, 115, 250, 1)"],
[style^="color: rgb(255, 115, 250)"],
[style*=" color: rgb(255, 115, 250)"],
[style^="color: #ff73fa"],
[style*=" color: #ff73fa"],
[style^="color: #FF73FA"],
[style*=" color: #FF73FA"],
[color="rgba(255, 115, 250, 1)"],
[color="rgb(255, 115, 250)"],
[color="#ff73fa"],
[color="#FF73FA"],
[style^="color: rgba(114, 137, 218, 1)"],
[style*=" color: rgba(114, 137, 218, 1)"],
[style^="color: rgb(114, 137, 218)"],
[style*=" color: rgb(114, 137, 218)"],
[style^="color: #7289da"],
[style*=" color: #7289da"],
[style^="color: #7289DA"],
[style*=" color: #7289DA"],
[color="rgba(114, 137, 218, 1)"],
[color="rgb(114, 137, 218)"],
[color="#7289da"],
[color="#7289DA"] {
    color: rgb(var(--vaccentcolor)) !important;
}

[style^="color: rgba(255, 115, 250, 0.9"],
[style*=" color: rgba(255, 115, 250, 0.9"],
[style^="color: rgba(114, 137, 218, 0.9"],
[style*=" color: rgba(114, 137, 218, 0.9"] {
    color: rgba(var(--vaccentcolor), 0.9) !important;
}

[style^="color: rgba(255, 115, 250, 0.8"],
[style*=" color: rgba(255, 115, 250, 0.8"],
[style^="color: rgba(114, 137, 218, 0.8"],
[style*=" color: rgba(114, 137, 218, 0.8"] {
    color: rgba(var(--vaccentcolor), 0.8) !important;
}

[style^="color: rgba(255, 115, 250, 0.7"],
[style*=" color: rgba(255, 115, 250, 0.7"],
[style^="color: rgba(114, 137, 218, 0.7"],
[style*=" color: rgba(114, 137, 218, 0.7"] {
    color: rgba(var(--vaccentcolor), 0.7) !important;
}

[style^="color: rgba(255, 115, 250, 0.6"],
[style*=" color: rgba(255, 115, 250, 0.6"],
[style^="color: rgba(114, 137, 218, 0.6"],
[style*=" color: rgba(114, 137, 218, 0.6"] {
    color: rgba(var(--vaccentcolor), 0.6) !important;
}

[style^="color: rgba(255, 115, 250, 0.5"],
[style*=" color: rgba(255, 115, 250, 0.5"],
[style^="color: rgba(114, 137, 218, 0.5"],
[style*=" color: rgba(114, 137, 218, 0.5"] {
    color: rgba(var(--vaccentcolor), 0.5) !important;
}

[style^="color: rgba(255, 115, 250, 0.4"],
[style*=" color: rgba(255, 115, 250, 0.4"],
[style^="color: rgba(114, 137, 218, 0.4"],
[style*=" color: rgba(114, 137, 218, 0.4"] {
    color: rgba(var(--vaccentcolor), 0.4) !important;
}

[style^="color: rgba(255, 115, 250, 0.3"],
[style*=" color: rgba(255, 115, 250, 0.3"],
[style^="color: rgba(114, 137, 218, 0.3"],
[style*=" color: rgba(114, 137, 218, 0.3"] {
    color: rgba(var(--vaccentcolor), 0.3) !important;
}

[style^="color: rgba(255, 115, 250, 0.2"],
[style*=" color: rgba(255, 115, 250, 0.2"],
[style^="color: rgba(114, 137, 218, 0.2"],
[style*=" color: rgba(114, 137, 218, 0.2"] {
    color: rgba(var(--vaccentcolor), 0.2) !important;
}

[style^="color: rgba(255, 115, 250, 0.1"],
[style*=" color: rgba(255, 115, 250, 0.1"],
[style^="color: rgba(114, 137, 218, 0.1"],
[style*=" color: rgba(114, 137, 218, 0.1"] {
    color: rgba(var(--vaccentcolor), 0.1) !important;
}

[style^="color: rgba(255, 115, 250, 0.0"],
[style*=" color: rgba(255, 115, 250, 0.0"],
[style^="color: rgba(114, 137, 218, 0.0"],
[style*=" color: rgba(114, 137, 218, 0.0"] {
    color: rgba(var(--vaccentcolor), 0) !important;
}

[style*="background-color: rgb(255, 115, 250)"],
[style*="background: rgb(255, 115, 250)"],
[style*="background-color: #ff73fa"],
[style*="background: #ff73fa"],
[style*="background-color: #FF73FA"],
[style*="background: #FF73FA"],
[background-color="rgb(255, 115, 250)"],
[background="rgb(255, 115, 250)"],
[background-color="#ff73fa"],
[background="#ff73fa"],
[background-color="#FF73FA"],
[background="#FF73FA"],
[style*="background-color: rgb(114, 137, 218)"],
[style*="background: rgb(114, 137, 218)"],
[style*="background-color: #7289da"],
[style*="background: #7289da"],
[style*="background-color: #7289DA"],
[style*="background: #7289DA"],
[background-color="rgb(114, 137, 218)"],
[background="rgb(114, 137, 218)"],
[background-color="#7289da"],
[background="#7289da"],
[background-color="#7289DA"],
[background="#7289DA"] {
    background-color: rgb(var(--vaccentcolor)) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.9"],
[style*="background: rgba(255, 115, 250, 0.9"],
[style*="background-color: rgba(114, 137, 218, 0.9"],
[style*="background: rgba(114, 137, 218, 0.9"] {
    background-color: rgba(var(--vaccentcolor), 0.9) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.8"],
[style*="background: rgba(255, 115, 250, 0.8"],
[style*="background-color: rgba(114, 137, 218, 0.8"],
[style*="background: rgba(114, 137, 218, 0.8"] {
    background-color: rgba(var(--vaccentcolor), 0.8) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.7"],
[style*="background: rgba(255, 115, 250, 0.7"],
[style*="background-color: rgba(114, 137, 218, 0.7"],
[style*="background: rgba(114, 137, 218, 0.7"] {
    background-color: rgba(var(--vaccentcolor), 0.7) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.6"],
[style*="background: rgba(255, 115, 250, 0.6"],
[style*="background-color: rgba(114, 137, 218, 0.6"],
[style*="background: rgba(114, 137, 218, 0.6"] {
    background-color: rgba(var(--vaccentcolor), 0.6) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.5"],
[style*="background: rgba(255, 115, 250, 0.5"],
[style*="background-color: rgba(114, 137, 218, 0.5"],
[style*="background: rgba(114, 137, 218, 0.5"] {
    background-color: rgba(var(--vaccentcolor), 0.5) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.4"],
[style*="background: rgba(255, 115, 250, 0.4"],
[style*="background-color: rgba(114, 137, 218, 0.4"],
[style*="background: rgba(114, 137, 218, 0.4"] {
    background-color: rgba(var(--vaccentcolor), 0.4) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.3"],
[style*="background: rgba(255, 115, 250, 0.3"],
[style*="background-color: rgba(114, 137, 218, 0.3"],
[style*="background: rgba(114, 137, 218, 0.3"] {
    background-color: rgba(var(--vaccentcolor), 0.3) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.2"],
[style*="background: rgba(255, 115, 250, 0.2"],
[style*="background-color: rgba(114, 137, 218, 0.2"],
[style*="background: rgba(114, 137, 218, 0.2"] {
    background-color: rgba(var(--vaccentcolor), 0.2) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.1"],
[style*="background: rgba(255, 115, 250, 0.1"],
[style*="background-color: rgba(114, 137, 218, 0.1"],
[style*="background: rgba(114, 137, 218, 0.1"] {
    background-color: rgba(var(--vaccentcolor), 0.1) !important;
}

[style*="background-color: rgba(255, 115, 250, 0.0"],
[style*="background: rgba(255, 115, 250, 0.0"],
[style*="background-color: rgba(114, 137, 218, 0.0"],
[style*="background: rgba(114, 137, 218, 0.0"] {
    background-color: rgba(var(--vaccentcolor), 0) !important;
}

[style*="border-color: rgb(255, 115, 250)"],
[style*="border-color: #ff73fa"],
[style*="border-color: #FF73FA"],
[border-color="rgb(255, 115, 250)"],
[border-color="#ff73fa"],
[border-color="#FF73FA"],
[style*="border-color: rgb(114, 137, 218)"],
[style*="border-color: #7289da"],
[style*="border-color: #7289DA"],
[border-color="rgb(114, 137, 218)"],
[border-color="#7289da"],
[border-color="#7289DA"] {
    border-color: rgb(var(--vaccentcolor)) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.9"],
[style*="border-color: rgba(114, 137, 218, 0.9"] {
    border-color: rgba(var(--vaccentcolor), 0.9) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.8"],
[style*="border-color: rgba(114, 137, 218, 0.8"] {
    border-color: rgba(var(--vaccentcolor), 0.8) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.7"],
[style*="border-color: rgba(114, 137, 218, 0.7"] {
    border-color: rgba(var(--vaccentcolor), 0.7) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.6"],
[style*="border-color: rgba(114, 137, 218, 0.6"] {
    border-color: rgba(var(--vaccentcolor), 0.6) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.5"],
[style*="border-color: rgba(114, 137, 218, 0.5"] {
    border-color: rgba(var(--vaccentcolor), 0.5) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.4"],
[style*="border-color: rgba(114, 137, 218, 0.4"] {
    border-color: rgba(var(--vaccentcolor), 0.4) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.3"],
[style*="border-color: rgba(114, 137, 218, 0.3"] {
    border-color: rgba(var(--vaccentcolor), 0.3) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.2"],
[style*="border-color: rgba(114, 137, 218, 0.2"] {
    border-color: rgba(var(--vaccentcolor), 0.2) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.1"],
[style*="border-color: rgba(114, 137, 218, 0.1"] {
    border-color: rgba(var(--vaccentcolor), 0.1) !important;
}

[style*="border-color: rgba(255, 115, 250, 0.0"],
[style*="border-color: rgba(114, 137, 218, 0.0"] {
    border-color: rgba(var(--vaccentcolor), 0) !important;
}

[style*="stroke: slategray"],
[style*="stroke: rgb(255, 115, 250)"],
[style*="stroke: #ff73fa"],
[style*="stroke: #FF73FA"],
[stroke="rgb(255, 115, 250)"],
[stroke="#ff73fa"],
[stroke="#FF73FA"],
[style*="stroke: rgb(114, 137, 218)"],
[style*="stroke: #7289da"],
[style*="stroke: #7289DA"],
[stroke="rgb(114, 137, 218)"],
[stroke="#7289da"],
[stroke="#7289DA"] {
    stroke: rgb(var(--vaccentcolor)) !important;
}

[style*="fill: slategray"],
[style*="fill: rgb(255, 115, 250)"],
[style*="fill: #ff73fa"],
[style*="fill: #FF73FA"],
[fill="rgb(255, 115, 250)"],
[fill="#ff73fa"],
[fill="#FF73FA"],
[style*="fill: rgb(114, 137, 218)"],
[style*="fill: #7289da"],
[style*="fill: #7289DA"],
[fill="rgb(114, 137, 218)"],
[fill="#7289da"],
[fill="#7289DA"] {
    fill: rgb(var(--vaccentcolor)) !important;
}


/*END*/

/*BACKGROUND AND BASIS OF THE THEME*/


.theme-light,
.theme-dark {
    --header-primary: rgb(var(--fontwhite1));
    --header-secondary: rgb(var(--fontwhite2));
    --text-normal: rgb(var(--fontwhite2));
    --text-muted: rgb(var(--fontwhite4));
    --text-link: rgb(var(--vaccentcolor));
    --channels-default: rgb(var(--fontwhite4));
    --interactive-normal: rgb(var(--fontwhite3));
    --interactive-hover: rgb(var(--fontwhite2));
    --interactive-active: rgb(var(--fontwhite1));
    --interactive-muted: rgb(var(--fontwhite4));
    --elevation-low: 0 1px 5px 0 rgba(var(--vtransparencycolor), 0.3);
    --elevation-high: 0 2px 10px 0 rgba(var(--vtransparencycolor), 0.3);
    --logo-primary: rgb(var(--fontwhite1));
}


/* ~~~~		1.		TRANSPARENCY					~~~~ */

#app-mount .panels_a4d4d9 > * {
    background: transparent;
}

#app-mount .panels_a4d4d9 {
    /* account/voice		container							*/
    background-color: rgba(var(--vtransparencycolor), calc(var(--vguildchanneltransparency) / 1.5));
}

/* ~~~~		2.		BACKGROUND						~~~~ */

body:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: var(--vbackground) center/var(--vbackgroundsize);
    filter: blur(var(--vbackgroundblur));
}

#ace_settingsmenu_container,
.uploadArea_f82cc7,
.backdropWithLayer-3_uhz4,
.backdrop__1a911 {
    background: var(--vbackdrop) center/var(--vbackdropsize) !important;
    filter: blur(var(--vbackdropblur));
    opacity: 1;
    animation: none;
}

.backdropWithLayer-3_uhz4 {
    z-index: -1;
}


/* ~~~~		3.		TITLEBAR						~~~~ */

.titleBar_a934d8 {
    z-index: 1;
}

.titleBar_a934d8:after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(var(--vtransparencycolor), calc(0.1 + var(--vguildchanneltransparency) * 2));
}

.titleBar_a934d8:not(.typeMacOS_a934d8):after {
    height: 22px;
}

.titleBar_a934d8.typeMacOS_a934d8:after {
    height: 32px;
}

.titleBar_a934d8.typeMacOS_a934d8,
.titleBar_a934d8.typeMacOS_a934d8 .macButtons_a934d8 {
    width: 72px;
}

.titleBar_a934d8.typeMacOS_a934d8.typeMacOSWithFrame_a934d8 .macButtons_a934d8 {
    margin-top: 0;
    margin-right: 0;
}

.winButton_a934d8 {
    color: rgb(var(--fontwhite3));
}

.winButtonMinMax_a934d8:hover {
    background-color: rgba(var(--vtransparencycolor), 0.2);
}

.winButtonClose_a934d8:hover,
.winButtonMinMax_a934d8:hover {
    color: rgb(var(--fontwhite1));
}



/* ----		6.2.	MESSAGES						---- */

.base-19D3Qq {
    /* welcomemessage											*/
    padding-bottom: 0;
}

.base-34jWEe h1 {
    /* welcomemessage		dmchannel							*/
    color: rgb(var(--fontwhite1));
}

.emptyChannelIcon-3IXV5M {
    /* welcomemessage		empty channelicon					*/
    background-color: rgba(var(--vtransparencycolor), 0.4);
}

.card-1yV8cG {
    /* welcomemessage		first steps card					*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
}

.card-1yV8cG:hover {
    background-color: rgba(var(--vtransparencycolor), 0.5);
}

.divider_c2654d:not(.isUnread_c2654d) {
    /* divider				time								*/
    border-color: rgba(var(--fontwhite1), 0.2);
}

.divider_c2654d.hasContent_c2654d {
    /* divider				hascontent							*/
    border-color: transparent;
}

.unreadPill_c2654d {
    /* divider				unreadPill							*/
    color: rgb(var(--fontwhite1));
}

.content_c2654d {
    /* divider				content								*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
    color: rgb(var(--fontwhite3));
    width: 100%;
    text-align: center;
}

.hasMore-3e72_v {
    /* bar					hasmore								*/
    box-shadow: inset 0 0 0 1px rgba(var(--fontwhite1), 0.1);
}

.hasMore-3e72_v:hover {
    background-color: rgba(var(--vtransparencycolor), 0.2);
}

.jumpToPresentBar-9P20AM {
    /* bar					jumptopresent						*/
    overflow: hidden;
    background: transparent;
    opacity: 1;
}

.jumpToPresentBar-9P20AM:after,
.jumpToPresentBar-9P20AM:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.jumpToPresentBar-9P20AM:after {
    background-color: rgba(var(--vtransparencycolor), calc(var(--vtransparencyalpha) + 0.2));
}

.jumpToPresentBar-9P20AM:before {
    background: var(--vbackground) center/var(--vbackgroundsize);
    filter: blur(var(--vbackgroundblur));
    background-attachment: fixed;
}

.barButtonBase-3UKlW2 {
    /* bar					text								*/
    color: rgb(var(--fontwhite1));
}

/* ====		6.2.1.	MESSAGE							==== */


#app-mount .message_ddcc45 {
    /* message				confirm modal						*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
    box-shadow: none;
}

.message_d5deea,
    /* message				container							*/
.message_ddb5b4,
    /* message				mention popout						*/
.message_c06487,
    /* message				inbox								*/
.message_ddcc45 .wrapper_f9f2ca,
.messageGroupCozy_ac90a2,
.messageGroupCozy-2Bj3ME {
    background-color: rgba(var(--vtransparencycolor), var(--vmessagetransparency));
}

.message_d5deea.selected_d5deea,
.mouse-mode .message_d5deea:hover,
.mouse-mode.full-motion .message_d5deea:hover {
    background-color: rgba(var(--vtransparencycolor), calc(var(--vmessagetransparency) * 1.2 * var(--vusechatbubbles) + 0.3 * (1 - var(--vusechatbubbles))));
}

.message_d5deea.localBot-GrCgVt {
    /* message				localbot							*/
    background-image: linear-gradient(rgba(var(--vaccentcolor), calc(0.1 * (1 - var(--vusechatbubbles)))), rgba(var(--vaccentcolor), calc(0.2 * (1 - var(--vusechatbubbles)))));
}

.message_d5deea.mentioned_d5deea {
    /* message				mentioned							*/
    background-image: linear-gradient(rgba(var(--vaccentcolor), calc(0.2 * (1 - var(--vusechatbubbles)))), rgba(var(--vaccentcolor), calc(0.2 * (1 - var(--vusechatbubbles)))));
}

.message_d5deea.localBot-GrCgVt:before,
.message_d5deea.mentioned_d5deea:before {
    background-color: rgb(var(--vaccentcolor));
}

.message_d5deea.mentioned_d5deea .markup_f8f345 {
    border-radius: 3px;
    background-color: rgba(var(--vaccentcolor), calc(0.3 * var(--vusechatbubbles)));
}

#app-mount .avatar_f9f2ca {
    position: absolute;
    top: 4px;
    left: calc(-70px * var(--vusechatbubbles) + 16px);
}

.container_b558d0 .avatar_f9f2ca {
    left: calc(-10px * var(--vusechatbubbles));
}

.cozy_f9f2ca .header_f9f2ca:after {
    content: "";
    position: absolute;
    top: 12px;
    left: -32px;
    border: 10px solid transparent;
    border-right: 12px solid rgba(var(--vtransparencycolor), var(--vmessagetransparency));
}

.cozy_f9f2ca .container_b558d0 .header_f9f2ca:after {
    left: 40px;
}

.messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2 .header_f9f2ca:after,
.searchResult-2N9RV4 .messageGroupCozy-2Bj3ME .header_f9f2ca:after {
    top: 2px;
}

.cozy_f9f2ca .timestamp_f9f2ca.alt_f9f2ca {
    left: calc(-78px * var(--vusechatbubbles));
}

.cozy_f9f2ca .iconContainer_e62b38 {
    background-color: rgba(var(--vtransparencycolor), var(--vmessagetransparency));
    border-radius: 50%;
    left: calc(1px * (-58 * var(--vusechatbubbles) + -48 * (1 - var(--vusechatbubbles))));
    height: 25px;
    width: 25px;
    padding: 0;
}

.cozy_f9f2ca .blockedSystemMessage_c09d0f .iconContainer_e62b38 {
    background-color: transparent;
}

.cozy_f9f2ca .iconContainer_e62b38:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 26px;
    border: 10px solid transparent;
    border-right: 12px solid rgba(var(--vtransparencycolor), var(--vmessagetransparency));
}

.cozy_f9f2ca .blockedSystemMessage_c09d0f .iconContainer_e62b38:after {
    display: none;
}

.selected_d5deea.message_d5deea.cozy_f9f2ca .header_f9f2ca:after,
.mouse-mode .message_d5deea.cozy_f9f2ca:hover .header_f9f2ca:after,
.mouse-mode.full-motion .message_d5deea.cozy_f9f2ca:hover .header_f9f2ca:after,
.selected_d5deea.message_d5deea.cozy_f9f2ca .iconContainer_e62b38:after,
.mouse-mode .message_d5deea.cozy_f9f2ca:hover .iconContainer_e62b38:after,
.mouse-mode.full-motion .message_d5deea.cozy_f9f2ca:hover .iconContainer_e62b38:after {
    border-right-color: rgba(var(--vtransparencycolor), calc(var(--vmessagetransparency) * 1.2));
}

#app-mount .localBot-GrCgVt.cozy_f9f2ca .header_f9f2ca:after,
#app-mount .mentioned_d5deea.cozy_f9f2ca .header_f9f2ca:after {
    border-right-color: rgba(var(--vaccentcolor), calc(var(--vmessagetransparency) * 100000000000000000000000000000));
}

.message_ddb5b4,
.message_c06487,
.zalgo_f9f2ca .messageContent_f9f2ca,
.zalgo_f9f2ca.cozy_f9f2ca .header_f9f2ca {
    overflow: visible;
}

.container_b558d0 {
    padding: 0;
    overflow: visible;
}

#app-mount .cozyMessage_d5deea {
    margin-left: calc(80px * var(--vusechatbubbles));
    padding-left: calc(1px * (10 * var(--vusechatbubbles) + 72 * (1 - var(--vusechatbubbles))));
}

#app-mount .cozy_f9f2ca .header_f9f2ca,
#app-mount .cozy_f9f2ca .messageContent_f9f2ca {
    margin-left: 0;
    padding-left: 0;
}

.messageContainer_ddb5b4 .wrapper_f9f2ca,
.messages_c06487 .wrapper_f9f2ca,
.message_ddcc45 .wrapper_f9f2ca,
.messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2,
.searchResult-2N9RV4 .messageGroupCozy-2Bj3ME {
    border-radius: 5px;
    margin-left: calc(60px * var(--vusechatbubbles));
    padding-left: calc(1px * (10 * var(--vusechatbubbles) + 72 * (1 - var(--vusechatbubbles))));
}

.messages_c06487 .wrapper_f9f2ca {
    border-radius: 0;
}

.expanded_c09d0f {
    /* message				expanded blocked					*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
    border-radius: 5px 5px 0 5px;
    margin-bottom: .5625rem;
}

.edited-DL9ECl {
    /* message				editedtag							*/
    color: rgb(var(--fontwhite3));
}

.timestampCozy-1HNQR2,
    /* message				timestamp							*/
.timestampCompact-29LLPQ,
.timestamp__28d64 {
    color: rgb(var(--fontwhite3));
}

.reaction_f61c73 {
    /* message				reaction							*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
}

.reactionCount-1zkLcN {
    /* message				reactioncount						*/
    color: rgb(var(--fontwhite4));
}

.reaction_f61c73:hover .reactionCount-1zkLcN {
    color: rgb(var(--fontwhite2));
}

.wrapper_ef319f {
    /* message				buttons								*/
    background-color: transparent;
    position: relative;
}

.wrapper_ef319f:after,
.wrapper_ef319f:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: unset;
    height: unset;
    border-radius: 4px;
    pointer-events: none;
    z-index: -1;
}

.wrapper_ef319f:after {
    background-color: rgba(var(--vtransparencycolor), calc(var(--vtransparencyalpha) + 0.25));
}

.wrapper_ef319f:before {
    background: var(--vpopout) center/var(--vpopoutsize);
    filter: blur(var(--vpopoutblur));
    background-attachment: fixed;
}

.separator_ef319f {
    /* message				buttonsseparator					*/
    border-left-color: rgba(var(--fontwhite1), 0.1);
}

.button_ef319f:hover {
    /* message				button								*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
}

.button_ef319f.selected_ef319f {
    background-color: rgba(var(--vtransparencycolor), 0.4);
}

#app-mount .localBotMessage-3cUzun,
    /* message				localbotoperations					*/
#app-mount .operations_baf0d6 {
    /* message				editoperations						*/
    color: rgb(var(--fontwhite3));
}

.markup_f8f345 {
    /* message				markup								*/
    color: rgb(var(--fontwhite2));
}

.markup_f8f345 code {
    /* messageelement		code								*/
    background-color: transparent;
    border-color: transparent;
}

.markup_f8f345 pre {
    /* messageelement		pre									*/
    background-color: rgba(var(--vtransparencycolor), 0.4);
    border-color: rgba(var(--vtransparencycolor), 0.1);
}

.markup_f8f345 .inline,
    /* messageelement		inline								*/
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
    background-color: rgba(var(--vtransparencycolor), 0.4);
}

.markup_f8f345 .hljs {
    /* messageelement		hljs								*/
    color: rgb(var(--fontwhite2));
}

.blockquoteDivider_f8f345 {
    /* messageelement		quotedivider						*/
    background-color: rgb(var(--fontwhite4));
}

#app-mount .spoilerText-27bIiA {
    /* messageelement		spoiler								*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
}

#app-mount .spoilerText-27bIiA.hidden-3B-Rum {
    /* messageelement		hiddenspoiler						*/
    background-color: rgba(var(--vtransparencycolor), 0.5);
}

.container_b558d0 {
    /* systemmessage		content								*/
    color: rgb(var(--fontwhite3));
}

.icon_e62b38[style*="/assets/5da4cdab01d4d89c593c48c62ae0d937.svg"] {
    /* systemmessage			pinicon									*/
    -webkit-mask: url(https://discordapp.com/assets/5da4cdab01d4d89c593c48c62ae0d937.svg) center/cover no-repeat;
    background: rgb(var(--fontwhite3)) !important;
}

.icon_e62b38[style*="/assets/d80d1fdc43a3c42134a31a39581160ac.svg"] {
    /* systemmessage			missedcall								*/
    -webkit-mask: url(https://discordapp.com/assets/d80d1fdc43a3c42134a31a39581160ac.svg) center/cover no-repeat;
    background: rgb(var(--fontwhite3)) !important;
}

.icon_e62b38[style*="/assets/b8029fe196b8f1382e90bbe81dab50dc.svg"] {
    /* systemmessage			joincallicon							*/
    -webkit-mask: url(https://discordapp.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg) center/cover no-repeat;
    background: rgb(var(--vaccentcolor)) !important;
}

.icon_e62b38[style*="/assets/c30220457097b064286a8759a9b6c4af.svg"] {
    /* systemmessage			recievecallicon							*/
    -webkit-mask: url(https://discordapp.com/assets/c30220457097b064286a8759a9b6c4af.svg) center/cover no-repeat;
    background: rgb(var(--vaccentcolor)) !important;
}

/* ====		6.2.2.	EMBEDS							==== */

#app-mount .embedFull_b0068a {
    /* embed				wrapper								*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
    border-left-color: rgb(var(--fontwhite4));
}

#app-mount .embedAuthorName_b0068a,
    /* embed				author								*/
#app-mount .embedFieldName_b0068a,
    /* embed				fieldname							*/
#app-mount .embedTitle_b0068a {
    /* embed				title								*/
    color: rgb(var(--fontwhite1)) !important;
}

#app-mount .embedDescription_b0068a,
    /* embed				description							*/
#app-mount .embedFieldValue_b0068a {
    /* embed				fieldvalue							*/
    color: rgb(var(--fontwhite3));
}

#app-mount .embedProvider_b0068a {
    /* embed				provider							*/
    color: rgb(var(--fontwhite3)) !important;
}

#app-mount .embedFooterText_b0068a {
    /* embed				footer								*/
    color: rgb(var(--fontwhite4));
}

#app-mount .attachment_b52bef {
    /* attachment			container							*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
    border-color: rgba(var(--vtransparencycolor), 0.1);
    margin-left: 18px;
}

#app-mount .message_d5deea .attachment_b52bef {
    margin-left: 0;
}

#app-mount .filename_b52bef {
    /* attachment			filename							*/
    color: rgb(var(--fontwhite1));
}

#app-mount .size_b52bef {
    /* attachment			sizesize							*/
    color: rgb(var(--fontwhite4));
}

#app-mount .metadata_b52bef {
    /* attachment			metadata							*/
    color: rgb(var(--fontwhite4));
}

#app-mount .cancelButton_b52bef,
    /* attachment			cancelbutton						*/
#app-mount .downloadButton__3fb6d {
    /* attachment			downloadbutton						*/
    color: rgb(var(--fontwhite4));
}

#app-mount .cancelButton_b52bef:hover,
#app-mount .downloadButton__3fb6d:hover {
    color: rgb(var(--fontwhite3));
}

#app-mount .cancelButton_b52bef:active,
#app-mount .downloadButton__3fb6d:active {
    color: rgb(var(--fontwhite2));
}

#app-mount .twitchSectionPlayButton-2RamGG {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M12.3333 10.002V22.002L22.3333 16.002L12.3333 10.002Z" fill="rgb(185,187,190)"/></svg>');
    background-color: rgba(var(--vtransparencycolor), 0.4);
    border-radius: 50%;
    object-position: -9999999px -9999999px;
}

#app-mount .twitchSectionPlayButton-2RamGG:hover {
    background-color: rgba(var(--vtransparencycolor), 0.8);
}

#app-mount .wrapper_f316dd {
    /* attachment			videowrapper						*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
}

#app-mount .embedSuppressButton_b0068a {
    /* attachment			closebutton							*/
    color: rgb(var(--fontwhite3));
}

#app-mount .embedSuppressButton_b0068a:hover {
    color: rgb(var(--fontwhite3));
}


/* ====		6.2.4.	INVITE							==== */

#app-mount .wrapper_a71a1c {
    /* invite				container							*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
    border-color: rgba(var(--vtransparencycolor), 0.1);
}

#app-mount .guildIconImage_a71a1c {
    /* invite				icon								*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
}

#app-mount .guildName_a71a1c {
    /* invite				name								*/
    color: rgb(var(--fontwhite1));
}

#app-mount .guildDetail_a71a1c {
    /* invite				details								*/
    color: rgb(var(--fontwhite4));
}


/* ----		6.5.	MEMBERLIST						---- */

.member_a31c43 {
    /* member				container							*/
    color: rgb(var(--fontwhite3));
}

.clickable_e9f61e.member_a31c43:hover {
    color: rgb(var(--fontwhite2));
}

.clickable_e9f61e.member_a31c43:active,
.selected_e9f61e.member_a31c43 {
    color: rgb(var(--fontwhite1));
}

.member_a31c43:hover .layout_e9f61e {
    /* member				inner								*/
    background-color: rgba(var(--vtransparencycolor), 0.2);
}

.selected_e9f61e.member_a31c43 .layout_e9f61e {
    background-color: rgb(var(--vaccentcolor));
    text-shadow: 1px 1px var(--vtextshadow);
}

.selected_e9f61e.member_a31c43 .layout_e9f61e svg:not(.svg-2azL_l) {
    filter: drop-shadow(1px 1px var(--vtextshadow));
}

.member_a31c43 .name_e9f61e {
    color: rgb(var(--fontwhite2));
}

.member_a31c43 .activity_a31c43 {
    color: rgb(var(--fontwhite3));
}

.member_a31c43:hover .linkButtonIcon_c91bad,
.member_a31c43.selected_e9f61e .linkButtonIcon_c91bad {
    color: rgb(var(--fontwhite1));
}

.member_a31c43:hover .name_e9f61e,
.member_a31c43.selected_e9f61e .name_e9f61e {
    color: rgb(var(--fontwhite1));
}

.member_a31c43:hover .activity_a31c43,
.member_a31c43.selected_e9f61e .activity_a31c43 {
    color: rgb(var(--fontwhite2));
}

.member_a31c43.selected_e9f61e .premiumIcon-2IFPOX {
    color: rgb(var(--fontwhite1)) !important;
}

.membersGroup_cbd271 {
    /* roleheader												*/
    color: rgb(var(--fontwhite2));
}

.avatar-b5OQ1N:before {
    /* emptyavatar												*/
    background-color: rgba(var(--vtransparencycolor), 0.3);
}

.memberGroupsPlaceholder_cbd271,
    /* loadingplaceholders										*/
.placeholderAvatar_dac468,
.placeholderUsername_dac468 {
    background-color: rgb(var(--vaccentcolor));
}


/* ~~~~		15.		GENERAL							~~~~ */

::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--vfont);
}

::selection {
    /* selection												*/
    background: rgb(var(--vaccentcolor));
}

/* ----		15.7.	SCROLLBARS						---- */

::-webkit-scrollbar,
#app-mount ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#app-mount .scroller-3vODG7::-webkit-scrollbar,
#app-mount #bda-qem-twitch-container .scroller-2FKFPG::-webkit-scrollbar,
#app-mount #bda-qem-favourite-container .scroller-2FKFPG::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#app-mount .scroller_b60f40::-webkit-scrollbar,
#app-mount .scrollbar_c858ce::-webkit-scrollbar,
#app-mount .scroller-2PSBSf::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
#app-mount ::-webkit-scrollbar,
#app-mount ::-webkit-scrollbar-track,
#app-mount ::-webkit-scrollbar-track-piece {
    border-color: transparent;
    background: transparent;
}

::-webkit-scrollbar-thumb,
#app-mount ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    background-color: rgb(var(--vaccentcolor));
}

::-webkit-scrollbar-corner,
#app-mount ::-webkit-scrollbar-corner {
    visibility: hidden;
}

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
.none-2-_0dP::-webkit-scrollbar-corner,
.none-2-_0dP::-webkit-scrollbar-thumb,
.none-2-_0dP::-webkit-scrollbar-track,
.none-2-_0dP::-webkit-scrollbar {
    display: none;
}


/*END*/
.scroller_fea3ef,
.wrapper__8436d {
    width: 46px;
}

.listItem_c96c45:not(.tutorialContainer_f9623d > .listItem_c96c45),
.pill_a5ad63 {
    margin: 0 !important;
    padding-top: 0;
    width: 49px !important;
}

.listItem_c96c45:not(.tutorialContainer_f9623d > .listItem_c96c45) {
    transform: scale(80%);
}

.pill_a5ad63 {
    transform: scale(120%);
    padding-top: 10px;
}

.tutorialContainer_f9623d > .listItem_c96c45 {
    margin: 0 !important;
    justify-content: flex-start;
    padding-left: 16%;
}

.icon_f90abb,
.childWrapper_a6ce15 {
    border-radius: 50px !important;
}

.container_cbd271 {
    background: transparent !important;
}

